<a href="https://colab.research.google.com/github/spencer730/Spradling-WoodsAssignment1/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Movies!
**Name: your name here**

**Due 9/13 before class**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [1]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
movies = pandas.read_csv('/content/drive/MyDrive/CS167Fall22/Datasets/MoviesData.csv')

## Exercise #1: 
Print out all of the possible values for the Genres.
- *Hint: I'm looking for each possible Genre to be ouput once. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this. It should require one line of code.*

In [5]:
print(movies['Genre'].unique())

['Action' 'Adventure' 'Western' 'Animation' 'Biography' 'Drama' 'Crime'
 'Comedy' 'Documentary' 'Family' 'Horror' 'Thriller' 'Mystery' nan
 'Fantasy' 'Romance' 'Short' 'Sci-Fi' 'Talk-Show' 'Sport' 'Reality-TV'
 'Musical' 'War' 'News' 'History' 'Film-Noir']

## Exercise #2:
Create a subset of data representing movies from the year 2000-2010 (including both 2000 and 2010) with the value "Action" in the Genre column. Save this DataFrame to the variable name `older_action_movies`. Display the first 5 lines of this subset.

In [13]:
older_action_movies = movies[(movies['Year'] < 2011) & (movies['Year'] > 1999) & (movies['Genre'] == 'Action')]
older_action_movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genre,Runtime,Country
0,Inception,2010,13+,8.8,87.0,Christopher Nolan,Action,148.0,United States
27,District 9,2009,18+,7.9,90.0,Neill Blomkamp,Action,112.0,South Africa
36,Minority Report,2002,13+,7.6,90.0,Steven Spielberg,Action,145.0,United States
43,Ip Man,2008,18+,8.0,85.0,Wilson Yip,Action,106.0,Hong Kong
48,Scott Pilgrim vs. the World,2010,13+,7.5,81.0,Edgar Wright,Action,112.0,United States

## Exercise #3
Using `older_action_movies`, what is the *median* **IMDb** rating?

## Exercise #4
Create a new subset with only movies with `Rotten Tomatoes` values < 20 and `IMDb` values < 3.0 (these should be awful movies!). Include only 4 columns: the `Title`, `Year`, `IMDb`, and `Rotten Tomatoes`. Display all of the rows in this subset.

## Exercise #5

What is the average (mean) IMDb score for each of the different Genres?  (I'm looking at the average of the 'IMDb' column, grouped by Genre--so Action v Adventure v Animation etc.). Look at this list to determine which genre has the highest average.
- In addition to supplying the code to output the averages for each Genre,answer the question of the hightest average in a text cell ...*

## Exercise #6

Do something cool. Using the movies dataset, get creative and show me something about the dataset. Use a text cell to explain what you did.